body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.lander-flex {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-content: center;
  justify-content: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.landing-image-container {
  margin-left: 8%;
}

.check-out-flex {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 200px;
}

.calc-button {
  color: white;
  background-color: black;
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  font-size: 40px;
}

.calc-button:hover {
  background-color: darkgray;
}

.calc-button:active {
  background-color: lime;
}

.creditCardForm .payment .btn:hover {
  background-color: black;
}

.creditCardForm {
  max-width: 700px;
  background-color: blue;
  /* margin: 30%; */
  margin-left: 10%;
  margin-top: 15%;
  overflow: hidden;
  padding: 25px;
  color: whitesmoke;
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: Open Sans, sans-serif;
  color: #4c4e56;
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
  width: 100%;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 15%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  padding-left: 20%;
  align-items: right;
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: center;
  padding-left: 10%;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #2ec4a5;
  color: white;
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}
@media (max-width: 650px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
    width: 100%;
  }
  .creditCardForm #credit_cards {
    text-align: left;
  }
}

.Receipt-button {
  background-color: #00008b;
  color: white;
  font-family: impact;
  font-size: 40px;
  padding: 5px;
  margin-top: 10px;
}

.Receipt-button:hover {
  background-color: whitesmoke;
  color: #00008b;
}

.Item-button {
  margin: 5px;
  margin-bottom: 10px;
  width: 20%;
  border: 5px solid lightgray;
  height: 260px;
  text-align: center;
  border-radius: 20px;
  background-color: grey;
}

.Item-button:hover {
  background-color: #00008b;
  color: whitesmoke;
}

.Cart-button {
  width: 50%;
  background-color: whitesmoke;
  font-family: impact;
  font-size: 20px;
  padding: 5px;
}
.Cart-button:hover {
  background-color: #00008b;
  color: whitesmoke;
}
